<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>FindFiles</servlet-name>
		<servlet-class>tops.web.display.servlet.FindFilesServlet</servlet-class>
		<init-param>
			<param-name>cath</param-name>
			<param-value>/Users/maclean/tops/web/topsfiles/cath</param-value>
		</init-param>
	    <init-param>
            <param-name>test</param-name>
            <param-value>/topsfiles/test</param-value>
        </init-param>
		<init-param>
			<param-name>lib</param-name>
			<param-value>/Users/maclean/tops/web/lib</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>SimpleCompareServlet</servlet-name>
		<servlet-class>tops.web.engine.SimpleCompareServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ComparisonServlet</servlet-name>
		<servlet-class>tops.web.engine.TopsComparisonServlet</servlet-class>
		<init-param>
			<param-name>compareStartPageURL</param-name>
			<param-value>localhost/tops/compare.html</param-value>
		</init-param>
		<init-param>
			<param-name>advancedStartPageURL</param-name>
			<param-value>localhost/tops/advanced.html</param-value>
		</init-param>
		<init-param>
			<param-name>matchStartPageURL</param-name>
			<param-value>localhost:8180/tops/pattern/classicmatch</param-value>
		</init-param>
		<init-param>
			<param-name>servletURL</param-name>
			<param-value>/tops/pattern/compare</param-value>
		</init-param>
		<init-param>
			<param-name>cartoonURL</param-name>
			<param-value>/tops/view</param-value>
		</init-param>
		<init-param>
			<param-name>diagramURL</param-name>
			<param-value>/tops/diagram</param-value>
		</init-param>
		<init-param>
			<param-name>cathNumberURL</param-name>
			<param-value>http://www.biochem.ucl.ac.uk/cgi-bin/cath/SearchPdb.pl?type=CATH&amp;query=</param-value>
		</init-param>
		<init-param>
			<param-name>cathNameURL</param-name>
			<param-value>http://www.biochem.ucl.ac.uk/cgi-bin/cath/SearchPdb.pl?type=PDB&amp;query=</param-value>
		</init-param>
		<init-param>
			<param-name>scopURL</param-name>
			<param-value>http://scop.mrc-lmb.cam.ac.uk/scop/search.cgi?key=</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MatchServlet</servlet-name>
		<servlet-class>tops.web.engine.TopsMatchServlet</servlet-class>
		<init-param>
		  <param-name>patternSourceType</param-name>
		  <param-value>MEMORY</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ClassicMatchServlet</servlet-name>
		<servlet-class>tops.web.engine.ClassicMatchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PatternGroupServlet</servlet-name>
		<servlet-class>tops.web.engine.TopsPatternGroupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GroupServlet</servlet-name>
		<servlet-class>tops.web.engine.TopsGroupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClassificationServlet</servlet-name>
		<servlet-class>tops.web.engine.ClassificationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartoonServlet</servlet-name>
		<servlet-class>tops.web.display.servlet.CartoonServlet</servlet-class>
		<init-param>
			<param-name>cath</param-name>
			<param-value>/Users/maclean/tops/web/topsfiles/cath</param-value>
		</init-param>
		<init-param>
			<param-name>scop</param-name>
			<param-value>/Users/maclean/tops/web/topsfiles/scop</param-value>
		</init-param>
		<init-param>
            <param-name>test</param-name>
            <param-value>/topsfiles/test</param-value>
        </init-param>
		<init-param>
			<param-name>lib</param-name>
			<param-value>/Users/maclean/tops/web/lib</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>DiagramServlet</servlet-name>
		<servlet-class>tops.web.display.servlet.DiagramServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PipelineServlet</servlet-name>
		<servlet-class>tops.web.engine.PipelineServlet</servlet-class>
		<init-param>
			<param-name>home.dir</param-name>
			<param-value>/Users/maclean/tops/web</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>TranslationServlet</servlet-name>
		<servlet-class>tops.web.engine.TranslationServlet</servlet-class>
		<init-param>
			<param-name>scratch.dir</param-name>
			<param-value>scratch</param-value>
		</init-param>
		<init-param>
            <param-name>executable.path</param-name>
            <param-value>bin</param-value>
        </init-param>
	</servlet>
	<servlet>
		<servlet-name>LogAnalyserServlet</servlet-name>
		<servlet-class>tops.web.engine.LogAnalyserServlet</servlet-class>
		<init-param>
			<param-name>home.dir</param-name>
			<param-value>/Users/maclean/tops</param-value>
		</init-param>
	</servlet>
	<servlet>
        <servlet-name>SummaryServlet</servlet-name>
        <servlet-class>tops.web.display.servlet.SummaryServlet</servlet-class>
    </servlet>
	<!--<filter>
		<filter-name>log</filter-name>
		<filter-class>LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>log</filter-name>
		<url-pattern>/pattern/*</url-pattern>
	</filter-mapping>-->
	<servlet-mapping>
        <servlet-name>SummaryServlet</servlet-name>
        <url-pattern>/summary</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogAnalyserServlet</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SimpleCompareServlet</servlet-name>
		<url-pattern>/pattern/simple</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComparisonServlet</servlet-name>
		<url-pattern>/pattern/compare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindFiles</servlet-name>
		<url-pattern>/find</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatternGroupServlet</servlet-name>
		<url-pattern>/patterngroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GroupServlet</servlet-name>
		<url-pattern>/pattern/group</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassificationServlet</servlet-name>
		<url-pattern>/pattern/class</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatchServlet</servlet-name>
		<url-pattern>/pattern/match</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassicMatchServlet</servlet-name>
		<url-pattern>/pattern/classicmatch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartoonServlet</servlet-name>
		<url-pattern>/view/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DiagramServlet</servlet-name>
		<url-pattern>/diagram/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PipelineServlet</servlet-name>
		<url-pattern>/pipe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TranslationServlet</servlet-name>
		<url-pattern>/translate</url-pattern>
	</servlet-mapping>
	<!-- 
	<resource-ref>
		<description>Reference to a factory for java.sql.Connection instances</description>
		<res-ref-name>jdbc/TopsDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	 -->
</web-app>
